<a href="https://colab.research.google.com/github/Nithixz/Data-Science-using-Python/blob/main/Data_Science_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Data Science

**Write a Python program to demonstrate The given year is leap year or not.**

In [ ]:
def ly():
  leapYear = int(input("Enter a Year \n"))
  if leapYear == 0:
    print("Enter a VALID year")
    ly()
  elif leapYear % 4 == 0 :
    print(f"{leapYear} is a Leap Year ")
  else:
    print(f"{leapYear} is not a Leap Year ")
ly()

2023
2023 is not a Leap Year

**Write a python program to demonstrate Factorial of a number.**

In [ ]:
num = int(input('Enter a number \n'))
factorial = 1
if num == 0 :
  factorial = 1
else:
  for i in range(num,1,-1):
    factorial = factorial * i
print(f"Factorial of {num} is {factorial}")

5
Factorial of 5 is 120

# Pandas DataFrame: Create from list of values.

In [14]:
#Python program to create a DataFrame
import pandas as pd

last_names = ['Connor', 'Connor', 'Reese']
first_names = ['Sarah', 'John', 'Kyle']
df = pd.DataFrame({
    'first_name': first_names,
    'last_name': last_names
})
df

  first_name last_name
0      Sarah    Connor
1       John    Connor
2       Kyle     Reese

In [12]:
import pandas as pd
df=pd.DataFrame({
    'Year': [2016, 2015, 2014, 2013, 2012],
    'Top Animal': ['Giant panda', 'Chicken', 'pig', 'Turkey', 'Dog']
})
print(df)

df.rename(columns={
    'Year': 'Calendar Year',
    'Top Animal': 'Favorite Animal',
}, inplace=True)

df

   Year   Top Animal
0  2016  Giant panda
1  2015      Chicken
2  2014          pig
3  2013       Turkey
4  2012          Dog

   Calendar Year Favorite Animal
0           2016     Giant panda
1           2015         Chicken
2           2014             pig
3           2013          Turkey
4           2012             Dog



---

**Python program to demonstrate the usage of Regular Expression**

In [29]:

import pandas as pd
df = pd.DataFrame({
    'last_name': ['Connor', 'Connor', 'Reese', 'Joe'],
    'first_name': ['Sarah', 'John', 'Kyle', 'Bonnot']
})

df[df.last_name.str.match('.*onno.*')+df.first_name.str.match('.*onno.*')]

  last_name first_name
0    Connor      Sarah
1    Connor       John
3       Joe     Bonnot



---

**python program to evaluate the variable**

In [28]:

import pandas as pd
df = pd.DataFrame({
    'last_name': ['Connor', 'Connor', 'Reese', 'Joe'],
    'first_name': ['Sarah', 'John', 'Kyle', 'Bonnot']
})

foo = 'Connor'
df.query('last_name == @foo')

  last_name first_name
0    Connor      Sarah
1    Connor       John



---

In [30]:
import pandas as pd
df = pd.DataFrame({
    'time': ['2022-09-14 00:52:00-07:00', '2022-09-14 00:52:30-07:00', '2022-09-14 01:52:30-07:00'],
    'letter': ['A', 'B', 'C']
})
df['time'] = pd.to_datetime(df.time)

df.query('time >= "2022-09-14 00:52:30-07:00 "')

                       time letter
1 2022-09-14 00:52:30-07:00      B
2 2022-09-14 01:52:30-07:00      C



---