<a href="https://colab.research.google.com/github/Nithixz/Data-Science-using-Python/blob/main/Data_Science_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Data Science

**Write a Python program to demonstrate The given year is leap year or not.**

In [ ]:
def ly():
  leapYear = int(input("Enter a Year \n"))
  if leapYear == 0:
    print("Enter a VALID year")
    ly()
  elif leapYear % 4 == 0 :
    print(f"{leapYear} is a Leap Year ")
  else:
    print(f"{leapYear} is not a Leap Year ")
ly()

2023
2023 is not a Leap Year

**Write a python program to demonstrate Factorial of a number.**

In [ ]:
num = int(input('Enter a number \n'))
factorial = 1
if num == 0 :
  factorial = 1
else:
  for i in range(num,1,-1):
    factorial = factorial * i
print(f"Factorial of {num} is {factorial}")

5
Factorial of 5 is 120

# Pandas DataFrame: Create from list of values.

**Python program to create a DataFrame**

In [14]:
import pandas as pd

last_names = ['Connor', 'Connor', 'Reese']
first_names = ['Sarah', 'John', 'Kyle']
df = pd.DataFrame({
    'first_name': first_names,
    'last_name': last_names
})
df

  first_name last_name
0      Sarah    Connor
1       John    Connor
2       Kyle     Reese



---
Python program to Rename a Column of a DataFrame

In [12]:
import pandas as pd
df=pd.DataFrame({
    'Year': [2016, 2015, 2014, 2013, 2012],
    'Top Animal': ['Giant panda', 'Chicken', 'pig', 'Turkey', 'Dog']
})
print(df)

df.rename(columns={
    'Year': 'Calendar Year',
    'Top Animal': 'Favorite Animal',
}, inplace=True)

df

   Year   Top Animal
0  2016  Giant panda
1  2015      Chicken
2  2014          pig
3  2013       Turkey
4  2012          Dog

   Calendar Year Favorite Animal
0           2016     Giant panda
1           2015         Chicken
2           2014             pig
3           2013          Turkey
4           2012             Dog



---

**Python program to demonstrate the usage of Regular Expression**

In [29]:

import pandas as pd
df = pd.DataFrame({
    'last_name': ['Connor', 'Connor', 'Reese', 'Joe'],
    'first_name': ['Sarah', 'John', 'Kyle', 'Bonnot']
})

df[df.last_name.str.match('.*onno.*')+df.first_name.str.match('.*onno.*')]

  last_name first_name
0    Connor      Sarah
1    Connor       John
3       Joe     Bonnot



---

**python program to evaluate the variable**

In [28]:

import pandas as pd
df = pd.DataFrame({
    'last_name': ['Connor', 'Connor', 'Reese', 'Joe'],
    'first_name': ['Sarah', 'John', 'Kyle', 'Bonnot']
})

foo = 'Connor'
df.query('last_name == @foo')

  last_name first_name
0    Connor      Sarah
1    Connor       John



---
**Python program to demonstrate Timestamp Query**

In [30]:
import pandas as pd
df = pd.DataFrame({
    'time': ['2022-09-14 00:52:00-07:00', '2022-09-14 00:52:30-07:00', '2022-09-14 01:52:30-07:00'],
    'letter': ['A', 'B', 'C']
})
df['time'] = pd.to_datetime(df.time)

df.query('time >= "2022-09-14 00:52:30-07:00 "')

                       time letter
1 2022-09-14 00:52:30-07:00      B
2 2022-09-14 01:52:30-07:00      C



---
**Python program to demonstrate Timestamp Query between Two values**

In [34]:
import pandas as pd
df = pd.DataFrame({
    'time': ['2022-09-14 00:52:00-07:00', '2022-09-14 00:52:30-07:00', '2022-09-14 01:52:30-07:00'],
    'letter': ['A', 'B', 'C']
})
df['time'] = pd.to_datetime(df.time)

begin_ts = '2022-09-14 00:52:00-07:00'
end_ts = '2022-09-14 00:54:00-07:00'

df.query('@begin_ts <= time < @end_ts ')

                       time letter
0 2022-09-14 00:52:00-07:00      A
1 2022-09-14 00:52:30-07:00      B

# Panda Operations



---
**1.Creating a data frame with pandas:**

In [44]:
import pandas as pd
data = pd.read_csv("/content/Advertising.csv")
print(data)

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]



---
**2.	Reading the top element chart**

In [45]:
data.head(2)
#only first two rows will be displayed;
#By default i.e. data.head() displays 5 Rows

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4



---

**3.Reading the bottom element chart**

In [47]:
data.tail(3)
#last 3 rows will be displayed

     Unnamed: 0     TV  Radio  Newspaper  Sales
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4



---
**4. Printing Statistical information of the data**

In [48]:
data.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000